name: Deploy to EC2

on:
  push:
    branches:
      - main  # main branch'a push olunca çalışır

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/railmap-backend-repo:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/railmap-backend-repo:latest

      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/railmap-backend-repo:latest
            docker stop railmap-backend || true
            docker rm railmap-backend || true
            docker run -d --name railmap-backend -p 80:80 ${{ secrets.DOCKER_USERNAME }}/railmap-backend-repo:latest